[submodule "protocol-v2"]
	path = protocol-v2
	url = https://github.com/dfx-finance/protocol-v2.git
[submodule "node_modules/forge-std"]
	path = node_modules/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "node_modules/solmate"]
	path = node_modules/solmate
	url = https://github.com/transmissions11/solmate.git
[submodule "node_modules/ds-test"]
	path = node_modules/ds-test
	url = https://github.com/dapphub/ds-test
